<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="shuffle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/icon/logo.png" class="center">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
